@import "global/fonts.less";
@import "global/variables.less";

body {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: @body-font-size;
  font-weight: @body-font-weight;
  line-height: @body-line-height;
  color: @body-font-color;
}

h2 {
  font-size: @h2-font-size;
  font-weight: @h2-font-weight;
}

h3 {
  font-size: 1.286em;
  font-weight: 700;
  color: black;
}
