.apps {
  background-color: @apps-bg;
  padding: 28px 20px 35px 20px;

  &__text {
  color: #ffffff;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.714em;
  margin: 0;
  }

  &__button {
    display: block;
    width: 281px;
    font-size: 1.286em;
    color: #ffffff;
    font-weight: 700;
    line-height: 49px;
    text-align: center;
    border: 3px solid white;
    border-radius: 30px;
  }

  &__icon-ios,
  &__icon-android,
  &__icon-wp {
    font-size: 0;
  }
}
