.contact-us__contacts {
  .container();
  padding-top: 40px;
  text-align: center;
}

.contact-us__contacts-title {
  font-size: 24px;
  font-weight: 300;
  color: @body-font-color;
  margin: 0;
}

.contact-us__contacts-text {
  font-size: 18px;
  font-weight: 700;
}

.contact-us__a-red {
  font-size: 24px;
  font-weight: 300;
  color: #d22856;

  &--mail {
    &:hover {
      color: #283645;
      text-decoration: underline;
    }

    &:active {
      opacity: 0.3;
      text-decoration: none;
    }
  }
}

.contact-us__map {
  position: relative;
  width: 100%;
  height: 203px;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 160px 0 160px;
    border-color: #ffffff transparent transparent transparent;
  }
}

#map {
  height: 203px;
}

@media @tablet-widths {
  .contact-us__contacts {
    padding-top: 50px;
    padding-bottom: 20px;
  }

  .contact-us__contacts-title {
    font-size: 40px;
    line-height: 47px;
    padding-left: 120px;
    padding-right: 120px;
    margin-bottom: 40px;
  }

  .contact-us__contacts-text {
    width: 305px;
    display: inline-block;
    vertical-align: top;
    margin: 0;

    &:last-of-type {
      margin-top: 40px;
    }
  }

  .contact-us__map {
    height: 376px;
    background: url("../img/map-tablet.png") no-repeat;
    background-size: cover;

    &::after {
      border-width: 75px 350px 0 350px;
      border-color: #ffffff transparent transparent transparent;
    }
  }

  #map {
    width: 100%;
    height: 375px;
  }
}

@media @desktop-widths {
  .contact-us__contacts {
    display: flex;
    flex-wrap: wrap;
    padding-top: 65px;
    padding-bottom: 10px;
  }

  .contact-us__contacts-title {
    padding-left: 230px;
    padding-right: 230px;
    margin-bottom: 55px;
    font-size: 50px;
    line-height: 60px;
    order: 1;
  }

  .contact-us__contacts-text {
    width: 33%;
    margin: 0;

    &:last-of-type {
      margin-top: 0;
    }
  }

  .contact-us__contacts-text:nth-of-type(1) {
    order: 2;
  }

  .contact-us__contacts-text:nth-of-type(3) {
    order: 3;
  }

  .contact-us__contacts-text:nth-of-type(2) {
    order: 4;
  }

  .contact-us__a-red {
    display: block;
    margin-top: 20px;
  }

  .contact-us__map {
    height: 510px;
    background: url("../img/map-desktop.png") no-repeat 50% 50%;
    background-size: cover;

    &::after {
      border-width: 103px 600px 0 600px;
      border-color: #ffffff transparent transparent transparent;
    }
  }

  #map {
    height: 510px;
  }
}
