.effect {
  display: none;
}

.effect__title {
  margin: 0;
}

.effect__text {
  margin: 0;
}

@media @tablet-widths {
  .effect {
    display: block;
    background-color: #f2f2f2;
  }

  .effect__wrapper {
    .container();
    .outline();
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 100px 16px 80px 310px;
  }

  .effect__title {
    font-size: @body-font-size + 12;
    line-height: 36px;
    color: black;
    margin-bottom: 10px;
  }

  .effect__text {
    font-size: @body-font-size - 4;
    line-height: 24px;
    margin-bottom: 10px;
  }

  .effect__link {
    font-size: @body-font-size - 4;
    line-height: 24px;
    text-decoration: underline;
  }
}

@media @desktop-widths {
  .effect__wrapper {
    padding: 115px 50px 112px 370px;
  }

  .effect__title {
    font-size: 30px;
    margin-bottom: 20px;

    br {
      display: none;
    }
  }

  .effect__text {
    width: 550px;
    margin-bottom: 35px;
    font-size: @body-font-size;
    line-height: 30px;
  }

  .effect__link {
    color: #d22856;
    text-decoration: underline;
    font-size: @body-font-size;
  }
}
