.effect {
  display: none;
}

.effect__title {
  margin: 0;
}

.effect__text {
  margin: 0;
}

@media @tablet-widths {
  .effect {
    display: block;
  }

  .effect__wrapper {
    .container();
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 100px 10px 80px 310px;
    background: url("../img/icon-timer-tablet.svg") no-repeat 0 50%;

    &::before {
      content: "";
      position: absolute;
      top: 114px;
      left: 19px;
      width: 202px;
      height: 202px;
      box-sizing: border-box;
      border-radius: 50%;
      border: 15px solid #d22856;
      background-color: #f2f2f2;
    }

    &::after {
      content: "24";
      position: absolute;
      top: 195px;
      left: 66px;
      font-size: 96px;
      font-weight: 700;
      color: #d22856;
    }
  }

  .effect__title {
    font-size: @body-font-size + 12;
    line-height: 36px;
    color: black;
    margin-bottom: 10px;
  }

  .effect__text {
    font-size: @body-font-size - 4;
    line-height: 24px;
    margin-bottom: 10px;
  }

  .effect__link {
    font-size: @body-font-size - 4;
    line-height: 24px;
    text-decoration: underline;
    color: #d22856;
  }
}

@media @desktop-widths {
  .effect {
    background-color: #f2f2f2;
  }

  .effect__wrapper {
    padding: 115px 50px 112px 370px;
    background: url("../img/icon-timer.svg") no-repeat 0 27%;

    &::before {
      width: 253px;
      height: 253px;
      border: 15px solid #d22856;
      top: 95px;
      left: 22px;
    }

    &::after {
      font-size: 120px;
      top: 196px;
      left: 80px;
    }
  }

  .effect__title {
    font-size: 30px;
    margin-bottom: 20px;

    br {
      display: none;
    }
  }

  .effect__text {
    width: 550px;
    margin-bottom: 35px;
    font-size: @body-font-size;
    line-height: 30px;
  }

  .effect__link {
    color: #d22856;
    text-decoration: underline;
    font-size: @body-font-size;
  }
}
