.form__img img {
  width: 280px;
  height: 374px;
  vertical-align: top;
}

.form__panel-right {
  position: relative;
}

.form__toggles {
  position: absolute;
  top: 0;
  padding-top: 42px;
  padding-bottom: 34px;
}

.form__toggle {
  width: 44px;
  height: 44px;
  display: block;

  svg {
    fill: #283645;
    opacity: 0.3;
  }

  &--crop {
    margin-left: 36px;
  }

  &--fill {
    width: 48px;
    height: 43px;
    margin-left: 115px;
  }

  &--contrast {
    width: 32px;
    height: 32px;
    margin-left: 205px;
    margin-top: 5px;
  }

  &--active {
    svg {
      fill: #d22856;
      opacity: 1;
    }
  }
}

.form input[type="range"] {
  -webkit-appearance: none;
  width: 240px;
  height: 2px;
  margin-left: 18px;
  margin-top: 39px;
  background-color: #000000;
}

.form__input-fill,
.form__input-contrast {
  display: none;
}

.form input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #f2f2f2;
  border: 2px solid #d22856;
}

.form__btn {
  border: none;
  outline: none;
  width: 100%;
  font-size: 18px;
  font-weight: 700;
  line-height: 44px;
  border-radius: 30px;
  background-color: transparent;
  cursor: pointer;

  &--submit {
    border: 3px solid #d22856;
    color: #d22856;
    margin-top: 200px;
    margin-bottom: 12px;
  }
  &--reset {
    border: 3px solid #283645;
    opacity: 0.1;
  }
}

@media @tablet-widths {
  .form__input-fill,
  .form__input-contrast {
    display: block;
  }

  .form {
    display: flex;
    justify-content: space-between;
  }

  .form__panel-right {
    width: 260px;
    display: flex;
    flex-direction: column;
}

  .form__img {
    height: 400px;

    img {
      width: 300px;
      height: 400px;
    }
  }

  .form__toggles {
    position: relative;
    padding: 0;
    width: 260px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:nth-of-type(1) {
      margin-top: 10px;
    }

    &:nth-of-type(2) {
      margin-top: 55px;
    }
    &:nth-of-type(3) {
      margin-top: 45px;
    }
  }

  .form__toggle {
    margin: 0;
    width: auto;
    height: auto;

    svg {
      fill: #d22856;
      opacity: 1;
    }

    &--crop {
      svg {
        width: 22px;
        height: 22px;
      }
    }

    &--fill {
      svg {
        width: 24px;
        height: 22px;
      }
    }

    &--contrast {
      svg {
        width: 16px;
        height: 16px;
      }

      svg path {
        fill: #d22856;
      }
    }
  }

  .form input[type="range"] {
    width: 202px;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
  }

  .form__button {
    margin-top: auto;
  }

  .form__btn {

    &--submit {
      margin-top: 0;
      margin-bottom: 24px;
    }
  }

}

@media @desktop-widths {

  .form__panel-right {
    width: 410px;
  }

  .form__toggles {
    width: 100%;
  }

  .form__toggle {

    &--crop {
      svg {
        width: 44px;
        height: 44px;
      }
    }

    &--fill {
      svg {
        width: 48px;
        height: 43px;
      }
    }

    &--contrast {
      svg {
        width: 32px;
        height: 32px;
        margin-left: 5px;
      }
    }
  }

  .form input[type="range"] {
    width: 288px;
    margin-right: 30px;
  }

  .form__button {
    display: flex;
    justify-content: space-between;
  }

  .form__btn {
    width: 183px;

    &--submit {
      margin-bottom: 0;
    }
  }
}
