.info {
  background: linear-gradient(174deg, white 0, white 24.5%, #f2f2f2 24.5%, #f2f2f2 100%);
}

.info__wrapper {
  .container();
  box-sizing: border-box;
  padding: 40px 20px 0;
}

.info__slogan {
  width: 210px;
  margin: 0 auto;
  margin-bottom: 110px;
}

.info__slogan-item {
  font-size: @body-font-size + 6;
  font-weight: 300;
  margin: 0;
  text-align: center;
}

.info__slogan-item:last-child {
  margin-top: 27px;
}

.info__item {
  text-align: center;
  line-height: 24px;
  margin-bottom: 28px;
}

.info__item:last-child {
  margin-bottom: 0;
}

.info__title {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 15px;
}

.info__text {
  margin: 0;
}

.info__logo {
  overflow: hidden;
  margin-top: -5px;
}

.info__logo img {
  width: 157px;
  height: 320px;
  display: block;
  margin: 0 auto;
  transform: translateY(40px);
  vertical-align: top;
}

@media @tablet-widths {
  .info {
      background: linear-gradient(176deg, white 0, white 37.5%, #f2f2f2 37.5%, #f2f2f2 100%);
  }

  .info__wrapper {
    box-sizing: content-box;
    padding-top: 45px;
    display: flex;
    flex-wrap: wrap;
  }

  .info__slogan {
    width: 100%;
    order: 1;
    margin-bottom: 45px;
  }

  .info__logo {
    order: 2;
  }

  .info__item-wrapper {
    order: 3;
    margin-left: auto;
    padding-top: 73px;
    padding-bottom: 10px;
  }

  .info__slogan-item {
    font-size: 40px;
    line-height: 50px;
  }

  .info__slogan-item:last-of-type {
    width: 400px;
    margin: 0 auto;
  }

  .info__item {
    width: 310px;
    font-size: 14px;
    text-align: left;
    align-self: flex-end;
    margin-bottom: 30px;
  }

  .info__logo {
    img {
      width: 268px;
      height: 482px;
      transform: translateY(0);
    }
  }

}

@media @desktop-widths {
  .info {
      background: linear-gradient(176deg, white 0, white 41%, #f2f2f2 41%, #f2f2f2 100%);
  }

  .info__wrapper {
    padding: 0;
    padding-top: 70px;
  }

  .info__logo {
    display: none;
  }

  .info__wrapper {
    display: block;
  }

  .info__slogan {
    margin-bottom: 73px;
  }

  .info__slogan-item {
    font-size: 50px;
    line-height: 60px;
  }

  .info__slogan-item:last-child {
    width: 600px;
  }

  .info__item-wrapper {
    padding-top: 0;
  }

  .info__item {
    display: inline-block;
    vertical-align: top;
    padding-top: 361px;
    box-sizing: border-box;
    padding-left: 35px;
    padding-right: 35px;
    text-align: center;

    &:nth-of-type(1) {
      background: url("../img/iphone-screen-1-desktop@1x.png") no-repeat 50% 0;
    }

    &:nth-of-type(2) {
      background: url("../img/iphone-screen-2-desktop@1x.png") no-repeat 50% 0
    }

    &:nth-of-type(3) {
      background: url("../img/iphone-screen-3-desktop@1x.png") no-repeat 50% 0;
    }
  }

  .info__title {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 25px;
  }

  .info__text {
    line-height: 30px;
    font-size: @body-font-size;
  }

}

@media (min-width: 960px) and (min-resolution: 144dpi),
       (min-width: 960px) and (min-resolution: 1.5dppx) {
  .info__item {
    &:nth-of-type(1) {
      background: url("../img/iphone-screen-1-desktop@2x.png") no-repeat 50% 0;
      background-size: 292px 302px;
    }

    &:nth-of-type(2) {
      background: url("../img/iphone-screen-2-desktop@2x.png") no-repeat 50% 0;
      background-size: 292px 302px;
    }

    &:nth-of-type(3) {
      background: url("../img/iphone-screen-3-desktop@2x.png") no-repeat 50% 0;
      background-size: 292px 302px;
    }
  }
}
