.page-footer {

  &__contacts {
    padding-top: 47px;
    padding-bottom: 40px;
    text-align: center;
  }

  &__contacts-title {
    margin: 0;
  }

  &__contacts-text {
    font-size: 1.286em;
    font-weight: 700;
  }

  a {
    font-size: 24px;
    font-weight: 300;
    color: #d22856;
  }

  &__map {
    min-height: 150px;
    background: #f3f1ea url("../img/bg-map-mobile@1x.png") no-repeat;
  }
}
