.page-header {
  &--main {
    position: relative;
    min-height: 462px;
    padding-bottom: 271px;
    background: url("../img/bg-back-mobile@1x.jpg") no-repeat 50% 0%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.page-header__logo {
  .container();
  padding: 0;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 13px;
}

.page-header__menu-open {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.page-header__nav {
  background-color: rgba(0, 0, 0, 0.3);
}

.page-header__apps {
  .container();
  width: 320px;
  height: 271px;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

@media @tablet-widths {
  .page-header--main {
    min-height: 729px;
    padding: 0;
    justify-content: flex-start;
  }
  .page-header__logo {

  }

  .page-header__apps  {
    position: static;
    transform: none;
    margin-top: 100px;
  }
}

@media @desktop-widths {
  .page-header__menu-open {
    display: none;
  }
  .page-header__logo {
    width: 150px;
    margin: 0;
  }
  .page-header__wrapper {
    .container();
    display: flex;
    justify-content: space-between;
  }
}
