.page-header {
  background: url("../img/bg-back-mobile@1x.jpg") no-repeat;

  &--main {
    min-height: 462px;
    background: url("../img/iphone-hand-mobile@1x.png") no-repeat bottom left,
                url("../img/bg-back-mobile@1x.jpg") no-repeat;
  }

  &__wrapper {
    background-color: #000000;
    opacity: 0.3;
    padding: 21px 20px; 
  }
}
