.photo__item {
  margin-bottom: 20px;
  .outline();
}

.photo__slogan {
  display: block;
  width: 245px;
  margin: 0 auto;
  padding: 46px 0 50px;
  text-align: center;
}

.photo__item-img img {
  vertical-align: top;
}

.photo__item-img {
  &--panorama img {
    width: 100%;
    height: 137px;
  }
}

.photo-item__wrapper {
  .container();
  padding: 0 20px;
  box-sizing: border-box;
}

@media @tablet-widths {
  .photo__slogan {
    width: 450px;
    padding-top: 92px;
    padding-bottom: 80px;
  }

  .photo-item__wrapper {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }

  .photo__item:not(.photo__item--panorama) {
    margin-right: 20px;
  }

  .photo__item:nth-of-type(2n) {
    margin-right: 0;
  }

  .photo__item {
    &--panorama {
      margin-bottom: 50px;
    }
  }

  .photo__item-img {
    img {
      width: 300px;
      height: 300px;
    }

    &--panorama img {
      width: 100%;
      height: 509px;
    }
  }

}

@media @desktop-widths {
  .photo__slogan {
    width: 580px;
    padding-bottom: 87px;
  }

  .photo__item:nth-of-type(2n) {
    margin-right: 20px;
  }

  .photo__item:nth-of-type(3n) {
    margin-right: 0;
  }

  .photo__item-img {
    img {
      height: 400px;
    }

    &--panorama img {
      display: block;
      max-width: 1200px;
      height: 506px;
      margin: 0 auto;
    }
  }

  .photo__item:not(.photo__item--panorama) {
    margin-bottom: 54px;
  }
}
