.price {
  position: relative;
  padding-top: 121px;
  padding-bottom: 99px;
  background: linear-gradient(175deg, white 0, white 11%, #f2f2f2 11%, #f2f2f2 100%);
}

.price__toggles {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-45%);
}

.price__slides {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.price__slide:first-of-type {
  display: none;
}

.price__slide {
  width: 100%;
}

.price__slide-title {
  padding-top: 19px;
  padding-bottom: 19px;
  margin: 0;
  color: white;
  font-size: @body-font-size;
  text-transform: uppercase;
  text-align: center;
  background-color: #283645;

  &--hit {
    width: 280px;
    margin: 0 auto;
    position: relative;
    background: url("../img/bg-hit.svg") no-repeat 0% 0%;
    background-color: #283645;
    background-size: 74px 73px;

    &::before {
      content: "хит";
      display: block;
      position: absolute;
      top: 13px;
      left: 10px;
      color: #ffffff;
      font-size: @body-font-size - 4;
      text-transform: uppercase;
      transform: rotate(-45deg);
    }
  }
}

.price__slide-price {
  display: block;
  font-size: 24px;
  font-weight: 300;
}

.price__slide-text {
  width: 280px;
  margin: 0 auto;
  box-sizing: border-box;
  padding-left: 44px;
  font-size: 14px;
  font-weight: 400;
  line-height: 63px;
  color: #283645;
  text-transform: uppercase;
  outline: 1px solid #e5e5e5;
  background-color: #fff;

  &--include {
    background: url("../img/icon-yes.svg") no-repeat 90% 50%;
    background-color: #fff;
  }

  &--not-include {
    background: url("../img/icon-no.svg") no-repeat 90% 50%;
    background-color: #fff;
  }
}

.price__slide:nth-of-type(2),
.price__slide:nth-of-type(4) {
  display: none;
}

@media @tablet-widths {
  .price {
    padding-top: 105px;
    padding-bottom: 60px;
    background: linear-gradient(175deg, white 0, white 16%, #f2f2f2 16%, #f2f2f2 100%);
  }

  .price__toggles {
    display: none;
  }

  .price__slide:nth-of-type(2),
  .price__slide:nth-of-type(4) {
    display: block;
  }

  .price__slides {
    flex-direction: row;
    .container();
  }
  .price__slide:first-of-type {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .price__slide {
    width: 156px;
    box-sizing: border-box;
    border: none;

    &:last-of-type .price__slide-text {
      border-right: 1px solid #e5e5e5;
    }
  }

  .price__slide-title {
    font-size: @body-font-size - 2;
    padding-top: 14px;
    padding-bottom: 8px;

    &--hit {
      width: auto;
      background: url("../img/bg-hit-tablet.svg") no-repeat 0% 0%;
      background-color: #283645;

      &::before {
        top: 5px;
        left: 5px;
      }
    }
  }

  .price__slide-price {
    font-size: @body-font-size;
    margin-top: -3px;
  }

  .price__slide-title--hit {
    border-left: 2px solid #e5e5e5;
    border-right: 2px solid #e5e5e5;
  }

  .price__slide-text {
    width: 100%;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 400;
    text-transform: none;
    line-height: 49px;
    padding-left: 17px;
    border-right: none;
    background-color: #fff;

    &:first-of-type {
      border-top:  1px solid #e5e5e5;
    }

    &--hidden {
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden;
    }
    &--include,
    &--not-include {
      background-position: 50% 50%;
    }
  }
}

@media @desktop-widths {
  .price  {
    padding-bottom: 90px;
    padding-top: 160px;
    background: linear-gradient(176deg, white 0, white 16%, #f2f2f2 16%, #f2f2f2 100%);
  }

  .price__slide {
    width: 238px;
  }

  .price__slide-text {
    width: 235px;
    font-size: @body-font-size;
    line-height: 63px;
  }

  .price__slide-title {
    font-size: 18px;
    padding-top: 21px;
    padding-bottom: 20px;

    &--hit {
      border-left: 2px solid #e5e5e5;
      border-right: 2px solid #e5e5e5;
      background: url("../img/bg-hit.svg") no-repeat 0% 0%;
      background-color: #283645;

      &::before {
        top: 12px;
        left: 10px;
      }
    }
  }

  .price__slide-price {
    font-size: 24px;
  }
}
