.review {
  position: relative;
  padding-bottom: 40px;
}

.review__slides {
  .container();
  box-sizing: border-box;
  padding: 43px 20px 0;
  text-align: center;
}

.review__slide {

}

.review__slide:nth-child(n + 2) {
  display: none;
}

.review__slide-title {
  margin: 0;
  font-size: @body-font-size;
  line-height: 30px;
}

.review__slide-post {
  display: none;
}

.review__toggles {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

@media @tablet-widths {
  .review {
    padding-top: 45px;
    padding-bottom: 55px;
  }

  .review__slides {
    padding: 0;
  }

  .review__slide {
    display: flex;
    flex-direction: column-reverse;
  }

  .review__slide-post {
    display: block;
    font-size: 14px;
    font-weight: 400;
  }

  .review__slide-text {
    margin: 0;
    margin-bottom: 35px;
  }

  .review__slide-title {
    font-size: @body-font-size + 2;
  }

  .review__toggles {
    transform: translateX(-45%);
  }

}

@media @desktop-widths {
  .review__toggles {
    display: none;
  }

  .review {
    padding: 0;
  }

  .review__slides {
    position: relative;
    padding: 185px 130px 30px;
    background: url("../img/icon-quotes.svg") no-repeat 50% 72px;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 213px;
      display: block;
      width: 22px;
      height: 41px;
      background: url("../img/icon-review-arrow-left.svg") no-repeat;
      opacity: 0.3;
      cursor: pointer;
    }

    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 213px;
      width: 22px;
      height: 41px;
      background: url("../img/icon-review-arrow-right.svg") no-repeat;
      opacity: 0.3;
      cursor: pointer;
    }
  }

  .review__slide-title {
    font-size: 24px;
  }

  .review__slide-post {
    font-size: 18px;
  }

  .review__slide-text {
    margin: 0;
    margin-bottom: 40px;
  }
}
