.upload__slogan {
  width: 260px;
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 40px;
  text-align: center;
}

.upload__wrapper {
  background-color: #f2f2f2;
}
.upload__form {
  .container();
  box-sizing: border-box;
  padding: 20px 22px 40px 18px;
}

@media @tablet-widths {
  .upload__slogan {
    width: 450px;
    padding-top: 45px;
    padding-bottom: 66px;
  }

  .upload__form {
    padding: 57px 17px 54px 0;
  }

}

@media @desktop-widths {
  .upload {
    margin-bottom: 28px;
  }

  .upload__form {
    width: auto;
  }

  .upload__slogan {
    padding-top: 5px;
    padding-bottom: 63px;
  }

  .upload__wrapper {
    .container();
    box-sizing: border-box;
    padding: 57px 60px 57px 80px;
  }

  .upload__form {
    padding: 0;
  }
}
