.user-review {
  box-sizing: border-box;
  background-color: #f2f2f2;
  line-height: 24px;
  width: 280px;
  padding: 20px 17px 22px;;

  &--panorama {
    margin: 0 auto;
  }
}

.user-review__title {
  margin: 0;
  font-size: @body-font-size - 4;
}

.user-review__time {
  font-size: @body-font-size - 6;
  font-weight: 300;
  text-transform: uppercase;
}

.user-review__text {
  margin: 0;
  margin-bottom: 5px;
}

.user-review__like {
  color: #d22856;
  font-size: 12px;
  text-transform: uppercase;
  display: flex;

  p {
    margin: 0;
  }
}

.user-review__like-action {
  font-size: 0;
  width: 13px;
  height: 12px;
  display: block;
  cursor: pointer;
  background: url("../img/icon-heart.svg") no-repeat 50% 50%;
  margin-right: 18px;
  align-self: center;
}

.user-review__like-counter {
  margin-left: 3px;
}

@media @tablet-widths {
  .user-review {
    width: 300px;
    height: 155px;
    font-size: 14px;
    padding: 24px 27px 20px;
    display: flex;
    flex-direction: column;

    &--panorama {
      width: 620px;
      height: auto;
      position: relative;
    }
  }

  .user-review__like-action {
    margin-right: 5px;
  }

  .user-review__like {
    margin-top: auto;
    display: flex;
    justify-content: space-between;

    & p {
      order: -1;
    }

    &--panorama {
      position: absolute;
      top: 25px;
      right: 25px;

      .user-review__like-action {
        margin-left: 17px;
      }
    }
  }

}

@media @desktop-widths {
  .user-review {
    &--panorama {
      width: 940px;
    }
  }
}
